.t-product {
  &__back {
    display: inline-flex;
    cursor: pointer;
    font-weight: 700;
    margin-top: $space-m;
    align-items: center;
    transition: allow(color);

    &:before {
      margin-right: 1.6rem; color: $color-primary
    }

    &:hover {
      color: $color-grey-light
    }

    @media print {
      display: none;
    }
  }

  .shopify-section {
    margin-top: 0
  }

  #shopify-section-product {
    .site-wrap {
      @media #{$to-phone}{
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}