@import '../../variables';
@import '../../tools/media-queries';

.c-tax-switch{ display: inline-block }

.t-cart{
	&__price{
		sup{ display: inline-block }
	}

	&__column--quantity{
		display: flex; align-items: center;
		& > * + *{ margin-left: $space-s }
	}

	&__total-content_subtotal-cta{ font-weight: bold; font-size: $font-size-body }
}

.sn-filter-bar{
	@media #{$to-phone}{
		padding-bottom: $space-xl;
		.c-tax-switch{ position: absolute; bottom: $space-l; right: 0 }
	}
}