.sn-nav{
	&__submenu{ background: $color-background }
}

.sn-push-product{
	transition: allow(box-shadow background); background: #F5F5F5;
	&:hover{
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); background: #fff;
	}
	&__tag{
		font-size:12px;
		font-weight:400;
		&::before{
			background-color:#143B48;
		}
	}
	&__bottom{
		@media #{$to-small}{ display: block }
	}

	@media #{$to-phone}{
		&__cta{ font-weight: 500 }
	}

}

.sn-push-products{
	.swiper-button-next{background-color:#242221;}
	.swiper-button-prev{background-color:#242221;}
	.swiper-button-next:after{ content: '\e9c4'; font-family: $font-icon; left: 0 }
	.swiper-button-prev:after{ content: '\e9c2'; font-family: $font-icon; left: 0 }
}
.sn-push-product{
	&__price{
		font-weight: 400;
	}
&__title{
	font-weight: 400;
}
}

.sn-collection-nav{
	margin-bottom: 4px; margin-top: 4px; position: relative;
	&:after{ border-bottom: 1px solid $color-border; content: ''; position: absolute; bottom: 0; left: 0; width: 100%; z-index: -1 }
	&__items{
		padding: 0; justify-content: center;
		&:after{ display: none }
	}
}

.sn-official{
	flex-direction: column-reverse;
	border-radius: 7px; padding: $space-xs $space-xs; background:#242221; width: 109px; text-align: center;
    box-shadow: 0 14px 10px #00000026;
	img{ width: 140px; height: auto }
	&__text{
		margin-top: 0;
        margin-bottom: 5px;
		font-weight: 600;
		text-transform:uppercase;
        font-size: 18px;
        font-family: $font-heading;
    }
}
.sn-filters__title span, .sn-filter-bar__cta span{
	background-color: var(--color-primary);
}
.sn-filter-bar__cta-text{
	font-weight: 400;
}
.sn-partner{ min-width: 53% }
.sn-text-image{
	&__title{
		line-height:36px;
		color:#0F0F0F;
		b{
			font-weight:400;
		}
	}
	&__text{
		b{
			font-weight:400;
		}
	}
}
