html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body,
html {
  height: 100%; padding: 0; margin: 0;
  @include scrollbar(8px, $color-primary, $color-border, 8px);
}

body.loading{
  position: relative;
  &:after{ position: overlay(); z-index: 9999; background: #fff; content: '' }
}

#app{ overflow: hidden }

.site-wrap{
  width: 100%; padding-left: $space-s; padding-right: $space-s; max-width: $grid-max-width; margin-left: auto; margin-right: auto;
  @media #{$to-small}{ padding-left: $space-m; padding-right: $space-m }
  @media #{$to-phone}{ padding-left: $space-s; padding-right: $space-s }
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  text-align: left;
  border: 1px solid var(--color-border);
  padding: 10px 14px;
}

main .shopify-section{
  margin-top: $space-xl;
  @media #{$to-phone}{ margin-top: $space-ml }
  .template-index &:first-child{ margin-top: 0 }
  .template-product &:first-child{ margin-top: 2rem }
}

.swiper-global{ position: relative }

.sticky-placeholder{
  @media print {
    display: none;
  }
}

:root{
  --swiper-theme-color : #{$color-primary};
}

.toggle-title{
  cursor: pointer;
  & + .toggle-text{ display: none}
  &.is-active + .toggle-text{ display: inline-block }
}